[Unit]
Description=run rgv rpi
After=network.target

[Service]
LimitNOFILE=20000
ExecStart=/usr/bin/python3 /home/pi/rgvrpi/__main__.py
Restart=always

[Install]
WantedBy=multi-user.target
